<% hash.each_pair do |k, v| %>
  <% keys.append(k) %>
  <% if v.instance_of?(::Hash) %>
    <div style="margin-left:<%=depth * 20%>px;"><%=k%>:</div>
    <% depth += 1 %>
    <%= erb :category, locals: {hash: v, depth:, keys:}, layout: false %>
    <%keys.pop%>
    <% depth -= 1 %>
  <% else %>
    <label style="margin-left:<%=depth * 20%>px;" for="<%=keys.join('_')%>"><%=k%>: </label>
    <input type="text" id="<%=keys.join('_')%>" name="<%=keys.join('_')%>" value="<%=v%>"><br>
    <%keys.pop%>
  <% end %>
<% end %>
