<div class="container">
  <h1 class="title">Spending Profile</h1>
  <h3 class="title">Average Monthly Spending</h3>
  <hr>
  <hr>
  <form method="post" action="/save_spending">
    <% keys = [] %>
    <% spending.each_pair do |k, v| %>
      <% keys.append(k) %>
      <% depth = 0 %>
      <% if v.instance_of?(::Hash) %>
        <div style="margin-left:<%=depth * 20%>px;"><%=k%>:</div>
        <% depth += 1 %>
        <%= erb :category, layout: false, locals: {hash: v, depth:, keys:} %>
        <%keys.pop%>
        <% depth -= 1 %>
      <% else %>
        <label style="margin-left:<%=depth * 20%>px;"><%=k%>: </label>
        <input type="text" id="<%=keys.join('_')%>" name="<%=keys.join('_')%>" value="<%=v%>"><br>
        <%keys.pop%>
      <% end %>
    <% end %>
    <br>
    <input class="button" type="submit" value="save">
  </form>
  <br>
  <br>
  <br>
</div>
